body{
    background-color: #F7F7F7;
}

#nav{
    background-color: #97C447;
}

#inputBusca{
    width: 500px;
}

#divBusca{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#divBotoes{
    text-align: center;
    float: letf;
    margin-top: 30px;
    margin-bottom: 104px;
}

#divTitulo{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

button{
    background-color: #DEDEDE;
    margin-left: 13px;
}


h1{
    font-family: Rajdhani,sans-serif;

}

#divImg{
    margin-top: 120px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#footer {

    background-color: #97C447;
    margin-top: 20px;
    
    width: 100%;
    height: 60px;
}

#footer2 {
    margin-top: 30px;
    background-color: #97C447;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#pCaminho {
    margin-left: 17px;
    margin-top: 10px;
    font-size: 11pt;
}

#pCaminhoAtual {
    color: #97C447;
    font-weight: bold;
}

#span-Receita {
    margin-left: 380px;
    margin-bottom: 10px;
    
}

.a-caminho {
    color: inherit;
    text-decoration: none;
}

.a-caminho:hover {
    text-decoration: underline;
    color: inherit;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.footer-class, .push {
    height: 60px; /* .push must be the same height as .footer */
}

table th {
    text-align: center;
}

.centered-td td {
    text-align: center;
}

.justified-td td {
    text-align: justify;
}

.table {
    width: 700px;
    table-layout: fixed;
    
}

#table-modo-de-preparo {
    margin-top: 25px;
    margin-bottom: 30px;
}

#div-ingredientes {
    margin-top: 15px;
    margin-bottom: 10px;
}

td { 
    white-space: pre-line;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word; 
}

#liDicionario{
    float: right;
}

#liUsuario {
    color: rgba(0,0,0,.5);" 
}

#liUsuario:hover {
    color: rgba(0,0,0,.7);
}

#nav {
    text-align: center;
}