body {
    background-color: #F7F7F7;
}

#nav {
    background-color: #97C447;
}

#divTitulo {
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    font-family: Rajdhani, sans-serif;
}

#footer {
    background-color: #97C447;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#pCaminho {
    margin-left: 15px;
    font-size: 11pt;
}

#pSelecione {
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}

hr {
    height: 0;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 1.5em;
    background: none;
}

#pCaminhoAtual {
    color: #97C447;
    font-weight: bold;
}

#divForm {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

#divPesoAlturaSexo {
    width: 500px;
    height: 60px;
}

#divPeso {
    float: left;
    width: 150px;
    margin-right: 40px;
}

#divAltura {
    float: left;
    width: 150px;
    margin-right: 40px;
}

#divSexo {
    float: left;
}

#divEmailCelular {
    width: 500px;
    height: 150px;
}

#divEmail {
    float: left;
    width: 300px;
    margin-right: 60px;
}

#divCelular {
    float: left;
    width: 140px;
}

#divNomeData {
    width: 500px;
}

#divDescricaoNutriente {
    width: 500px;
    float: left;
    margin-right: 30px;
}

#divAbreviatura {
    width: 235px;
    margin-right: 30px;
    float: left;
}

#divMedida {
    width: 235px;
    float: left;
}

#divBotoes {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    padding-right: 20px;
}

#btnConfirmar {
    float: left;
    background-color: #97C447;
    margin-left: 5px;
    color: white;
}

#btnVoltar {
    float: left;
    margin-left: 10px;
}

small {
    float: left;
}

.a-caminho {
    color: inherit;
    text-decoration: none;
}

.a-caminho:hover {
    text-decoration: underline;
    color: inherit;
}

#liDicionario {
    float: right;
}

#liUsuario {
    color: rgba(0, 0, 0, .5);
    " 

}

#liUsuario:hover {
    color: rgba(0, 0, 0, .7);
}

#nav {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font: 14px Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

div#container {
    max-height: 486px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#container div#title {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#container div#box {
    border: 2px solid #666;
    height: 440px;
    width: 740px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px #777;
}

div#container #box #switch {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

div#container #box #switch button {
    padding: 5px 5px;
    border: 0;
    background: #777;
    color: #FFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
}

div#container #box #switch button:hover {
    background: #888;
    box-shadow: 0px 4px 4px #777
}

div#container #box #search {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

div#container #box input[type=text] {
    height: 38px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    margin-top: 5px;
    font-size: 14px;
}

div#container #box input[type=text]:hover {
    border: 1px solid #666;
}

div#container #box button {
    border: 0;
    border-left: none;
    box-shadow: none;
    background: #ffffff;
    border-color: #ccc;
}

div#container #box #disciplinas {
    /*background: pink;*/
    height: 315px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
}

.list-group-item:hover {
    border: 1px solid #666;
}

div#container h1 {
    color: black;
    font-weight: bold;
}

#btn_discordo:hover {
    background: #900;
}

#btn_discordo {
    background: #700;
    color: #FFF;
}

#btn_concordo {
    background: #060;
    border-color: #060;
}

#btn_concordo:hover {
    background: #090;
}

#btn_indiferente {
    background: #C8CCCB;
}

#btn_indiferente:hover {
    background: #DEDFE1;
}

nav#nav {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b0e0e6;
}


/*
    SIDE BARRRR
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #97C447;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(113, 158, 35);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(113, 158, 35);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: rgb(113, 158, 35);
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(113, 158, 35);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#sidebarCollapse {
    background: #97C447;
    border: rgb(113, 158, 35);
}

.btn-primary {
    background: #1c84c6;
}

.btn-secondary {
    background: #1c84c6;
}

#tittle {
    width: 100%;
    height: 30px;
    margin-left: 20px;
}

.navbar {
    height: 50px;
}

.botoes {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

#professor {
    height: 70px;
    display: block;
    text-align: center;
}

#iconeProfessor {
    display: inline-block;
    padding: 0px 0px;
}

#divAtributos {
    margin: 0 auto;
    margin-top: 40px;
}

.atributo {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.item-atributo {
    display: inline-block;
    padding: 0px 0px;
    width: 270px;
    text-align: justify;
    margin-right: 50px;
}

.item-atributo-nota {
    display: inline-block;
    padding: 0px 0px;
    width: 220px;
    padding-left: 35px;
}

#nomeProfessor {
    display: inline-block;
    padding: 0px 25px;
}

.btn-toolbar {}

#btn_discordo {
    margin-right: 10px;
}

#legenda {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

#legenda1 {
    margin-bottom: 10px;
}

div input[type="radio"]:checked+label {
    background-color: #5A6268;
}

div input[type="radio"]:hover+label {
    background-color: #5A6268;
}

.label-border {
    border-color: #5A6268;
}

footer {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    padding: 0px 10px;
    margin: 0 auto;
    border: 1px solid #5A6268;
}

.center-child {
    width: 50%;
    margin: 0 auto;
}

.center-father {
    display: table;
    margin: 0 auto;
}

.form-group {
    margin-top: 8px;
}

.prioridade {
    font-size: 23px;
    width: 600px;
    margin-top: 30px;
    height: 52px;
}

.btn-prioridade {
    margin-left: 30px;
    height: 35px;
    width: 150px;
}

#board {
    height: 350px;
    background: white;
    border-radius: 20px;
    border: 1px solid rgba(141, 139, 139, 0.322);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin-top: 25px;
}

#btn_salvar {
    background: #1C84C6;
    color: white;
    margin-top: 10px;
}

#btn_finalizar:hover {
    background: rgb(52, 167, 238);
}

hr {
    margin-bottom: 0px;
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 2px;
}

#input-nome,
#input-email {
    width: 260px;
}

#input-matricula {
    width: 265px;
}

#input-curso {
    width: 272px;
}

#input-matricula {
    margin-right: 60px;
}

#div-matricula {
    margin-left: 30px;
}

#div-curso {
    margin-bottom: 4px;
}

#dados-pessoais {
    margin-left: 10px;
    margin-top: 13px;
    float: left;
}

#icon-dados {
    margin-top: 10px;
    float: left;
}

#div-header {
    display: table;
    margin: 0 auto;
}


/* Bounce In */

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

label {
    font-size: 16px;
    margin-top: 15px;
}

small {
    margin-top: 10px;
}